.-t-search-n {
  display: flex;
  align-content: center;
  justify-content: safe;
  align-items: center;
  border: .1px solid #ccc;
  width: 300px;
  overflow: hidden;
  padding: .5em;
  cursor: pointer;
  overflow: hidden;
  grid-area: 1/1;
  border-radius: .5em;
  background:transparent;
  overflow: hidden;
  
}
