@import "../../style//Variable.scss";

.-t-back-shop- {
  background-color: rgb(252, 242, 216);
  border-radius: 9999px;
  overflow: hidden;
  position: fixed;
  top: 5em;
  left: 4em;
  z-index: 1200;
  margin: 0 auto;
  color: #000000;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  width: 2.5em;
  height: 2.5em;
  cursor: pointer;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  @media (max-width: 768px) {
    right: 0;
    left: auto;
  }
  @media (max-width: 1024px) {
    right: 0;
    left: auto;
  }
  @media (max-width: 480px) {
    right: 0;
    left: auto;
  }
}
