@import "../../../style//Variable.scss";
.-h-hero-container {
  width: 100%;
  overflow: 0 auto;
  position: relative;
  z-index: 98;
  // backdrop-filter: blur(15px);
  .--t-content {
    padding: 1.5rem $t-px-sm;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    margin: 1.5em 0;
    flex-direction: column;
    overflow: hidden;
    gap: $t-gap-md;
    // backdrop-filter: blur(8px);
    .-t-shop-btn {
      padding: $t-px-md 2em;
      display: inline-block;
      width: auto;
      margin-top: 0.2em;
    }
    // text
    .-t-head {
      gap: $t-gap-sm;
      //
      .one {
        font-size: 6em;
        line-height: 1;
        @media (max-width: 768px) {
          font-size: 3em;
          padding: $t-px-sm;
        }
      }
    }
  }
}
