@import "../../../style//Variable.scss";
.--t-header- {
  top: 0;
  position: sticky;
  left: 0;
  height: $nav-h;
  width: 100%;
  z-index: $t-z-index-nav;
  &.NavActive {
    box-shadow: $box-shadow;
    background-color: rgb(252, 242, 215);
  }
  // /
  .--t-nav-con {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: $nav-max-w;
    margin: 0 auto;
    width: 100%;
    padding: 0 $t-px-sm;
    .--t-menu {
      ul {
        gap: $t-gap-lg;
        .--t-search {
          display: none;
          @media (max-width: 768px) {
            display: block;
          }
        }
        li {
          list-style-type: none;
        }
      }
    }
  }
}
