@tailwind base;
@tailwind components;
@tailwind utilities;

*,
html {
  padding: 0;
  margin: 0;
  scroll-snap-align:start;
  scroll-behavior: smooth;
  -webkit-box-sizing: border-box;
}
:root {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgb(0, 0, 0);
  --bg-main: linear-gradient(to top, #ffffff, #fff6df);
}
html,
body,
:root {
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
  -webkit-locale: "en-us";
  // background-image:var(--bg-main);
}

// ::-webkit-scrollbar {
//   display: none;
// }

html {
  scrollbar-width: 0.8em;
  scrollbar-color: #fff4d4;
}
::-webkit-scrollbar {
  width: 0.8em;
}
body {
  scrollbar-width: 0.8em;
  scrollbar-color: #fff4d4;
  overflow-y: scroll;
}

::-webkit-scrollbar-thumb {
  background-color: #fff4d4;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  font-size: 1em;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

//
.--t-main-container {
  margin: 0;
  background-image: var(--bg-main);

  h1,
  p,
  h3,
  h5,
  h6,
  span,
  small {
    overflow-wrap: break-word;
    margin: 0;
  }

  h1 {
    font-size: 4.2em;
    line-height: 1.25;
    font-weight: 700;
    white-space: wrap;
    text-align: center;
  }
  h2 {
    font-size: 2em;
    line-height: 1.25;
    font-weight: 700;
    white-space: wrap;
    text-transform: capitalize;
  }
  h3 {
    font-size: 1.2em;
  }

  a {
    text-decoration: none;
  }
  a:hover {
    opacity: 0.8;
  }

  button {
    border-radius: 0.3em;
    border: none;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    cursor: pointer;
    transition: 0.25s ease;
    background-color: #000;
    color: #ffffff;
    outline: none;
    :hover {
      opacity: 0.8;
    }
  }

  //
}
