// bg
$bg-overlay: rgba(0, 0, 0, 0.345);
$bg-cart-: linear-gradient(to top, #ffffff, #fffcf7);
 
// max-width
$search-max-w: 640px;
$cart-max-w: 350px;
$nav-max-w: 1281px;
$chill-max-w: 1281px;
// z-index
$t-z-index-overlay: 100;
$t-z-index-nav: 99;
// border-radius
$t-br-sm:.3em;
$t-br-md:.5em;
$t-br-lg:.8em;
// box-shadow
$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
// height
$nav-h: 3.5em;
// padding 
$t-px-lg: 20px;
$t-px-sm: .5em;
$t-px-md: .8em;
$t-px-xs: .3em;
// gap
$t-gap-md: 10px;
$t-gap-lg: 20px;
$t-gap-sm: .5em;
