@import "../../../../style//Variable.scss";
@import "../../../../style//mixins.scss";
.-t-fp-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  margin: 3.5em 0;
  overflow: hidden;
  .-t-grid-container {
    display: grid;
    grid-template-columns: repeat(4, minmax(250px, 1fr));
    grid-gap: 20px;
    width: 100%;
    @include md {
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
    @include lg {
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
    //card
    .-t-shop-card {
      border: 1px solid #e4e4e4;
      border-radius: 8px;
      overflow: hidden;
      position: relative;
      transition: 0.5s ease-in-out;
      cursor: pointer;
      &:hover {
        opacity: 0.7;
        transform: translateY(-2px);
      }
      .-t-img-box {
        overflow: hidden;
        width: 100%;
        height: auto;
        padding-bottom: 100%;
        position: relative;

        img {
          width: 100%;
          border-radius: 8px 8px 0 0;
          object-fit: cover;
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
        }
      }
      .-t-body {
        padding: $t-px-sm;
        display: flex;
        flex-direction: column;
        gap: 0.2em;
        overflow: hidden;
      }
      // stock
      .-t-stock {
        position: absolute;
        top: 0.3em;
        right: 0.5em;
        button {
          padding: $t-px-xs;
        }
      }
    }
  }
}
