.--t-anim-one {
  position: absolute;
  top: 3.6em;
  justify-content: center;
  align-content: center;
  align-items: center;
  left: 0;
  right: 0;
  display: flex;
  margin: 0.1em auto;
  height: 100%;
  @media (max-width: 768px) {
    height: 50%;
    right: auto;
    width: auto;
  }
  svg {
    overflow: hidden;
    @media (max-width: 768px) {
      display:none;
    }
    // text
    #Vector {
      transition: all 0.3s ease;
      animation: vec 2s infinite ease-in-out;
      @keyframes vec {
        0%,
        100% {
          transform: translateY(0);
        }
        50% {
          transform: translateY(-10px);
        }
      }
    }
  }
}
